<h1>Productos:</h1>

{{#each product}}
Producto:   {{title}}<br/>
Descrición: {{description}}<br/>
Precio:     {{price}}<br/>
<br/><br/>
{{/each}}

{{#if hasPrevPage}}
<a href="/?page={{prevPage}}"><button>Anterior</button></a>
{{/if}}
{{page}}
{{#if hasNextPage}}
<a href="/?page={{nextPage}}"><button>Siguiente</button></a>
{{/if}}